div.form-builder {
  margin: 0 auto;
  min-width: 600px;
  max-width: 1200px;
  width: 75vw;
}

div.navigation {
  padding-bottom: 20px;
}

div.header-background {
  display: inline-block;
  background: rgba(62, 209, 196, 1);
  margin-left: 20px;
}

h1 {
  padding: 40px 10px 0 10px;
  font-size: 3em;
  font-weight: 100;
  color: white;
  position: relative;
  top: 13px;
  text-align: center;
}

nav {
  background: white;
  display: flex;
  padding-top: 15px;
}

nav li {
  padding: 5px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgba(62, 209, 196, 1);
  font-size: 1.5em;
}

nav li div {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 100%;
  background: rgba(62, 209, 196, 1);

  transition: all 0.2s;
}

nav li:hover {
  cursor: pointer;
}

nav li:hover div {
  height: 5px;
}

nav li div.active {
  height: 5px;
}
