div.question-index {
  margin-left: 50px;
}

ul.questions > div.question-index {
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 30px 0 ;
  width: 500px;
  border: 1px solid rgba(62, 209, 196, 1);
  border-radius: 5px;
  font-size: 0.9em;
}

input {
  padding: 5px;
  border-left: 3px solid rgba(62, 209, 196, 1);
  background: Aliceblue;
  font-size: 1.2em;
  margin-bottom: 10px;

  transition: all 0.2s;
}

input:focus {
  outline: none;
}

div.condition {
  display: flex;
}

div.condition input {
  flex-grow: 1;
}

div.condition input.disabled {
  background: #d5e6f5;
}

select {
  padding: 5px;
  border: none;
  border-left: 3px solid rgba(62, 209, 196, 1);
  background: AliceBlue;
  margin-bottom: 10px;
}

select.condition {
  margin-right: 20px;
  min-width: 130px;
}

select:focus {
  outline: none;
}

option {
  padding: 5px;
}

div.question-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

div.question-buttons button {
  background: rgba(62, 209, 196, 1);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}

div.question-buttons button:hover {
  background: #35b1a6;
}

button {
  display: flex;
  background: transparent;
  align-items: center;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

div.circle {
  background: rgba(62, 209, 196, 1);
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 33px;

  transition: all 0.2s;
}

button span {
  font-size: 1.5em;
  color: rgba(62, 209, 196, 1);
  margin-left: 10px;
}

button:hover div {
  background: #35b1a6;
}
